## Pandas
a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.
 
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

#### What is a data frame?

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

**For a data frame there should be atleast more than one row and more than one column.**

In [2]:
import pandas as pd
import numpy as np

In [3]:
## Playing with Data Frames

df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=["Row1","Row2","Row3","Row4","Row5"], columns=["Col1","Col2","Col3","Col4"] )

In [4]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [5]:
df.to_csv('Text1.csv')

In [6]:
## Accessing the elements
## 1. .loc  2. .iloc
df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [7]:
type(df.loc['Row1'])
# it contains only one row thats why it is called series

pandas.core.series.Series

**Series can be either one Row or one Column**