# Basic of Python
- Datatypes in Python
- Variable
- Variable assignment
- Print Formatting

## Datatypes in Python

### Python - Data Types
1. Numeric - int, float, complex.
2. String - str.
3. Sequence - list, tuple, range.
4. Binary - bytes, bytearray, memoryview.
5. Mapping - dict.
6. Boolean - bool.
7. Set - set, frozenset.
8. None - NoneType.

# Numbers

In [4]:
1+4

5

In [5]:
3*5

15

In [6]:
14/3

4.666666666666667

In [7]:
2**4

16

In [8]:
36**0.5

6.0

In [9]:
5 * "abc "

'abc abc abc abc abc '

In [10]:
# other operation will give error
# TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [11]:
# Check Datatype

In [12]:
type(5)

int

In [13]:
type("abc")

str

## String

In [14]:
"Hello Wolrd"

'Hello Wolrd'

In [15]:
'Pankaj Singh'

'Pankaj Singh'

In [16]:
type("Pankaj")

str

In [17]:
s = "Hello World"
print(s[::-1])

dlroW olleH

In [18]:
s1 = "Hello World"

In [19]:
s.upper()

'HELLO WORLD'

In [20]:
s.lower()

'hello world'

In [21]:
s.split()

['Hello', 'World']

# Variable Assignment

In [22]:
#Syntax
# Variable_Name = Value

In [23]:
#Defining data type is not required in Python

a = 5
# int a = 5

In [24]:
type(a)

int

In [25]:
b = 'ABC'
type(b)

str

In [26]:
# Mathematical Operation with Variable assignment
a = 10
b = 5

In [27]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print((a*b)+(a/b))

15
5
50
2.0
52.0

###  Various Ways of Printing

In [28]:
print("Hello")

Hello

In [29]:
first_name = "Pankaj"
last_name = "Singh"
print("My first Name is {} and my Last name is {}".format(first_name, last_name))
print('\n After replacing the position of variable \n')
print("My first Name is {} and my Last name is {}".format(last_name, first_name))

My first Name is Pankaj and my Last name is Singh

 After replacing the position of variable

My first Name is Singh and my Last name is Pankaj

In [30]:
# To overcome this issue we can Use this format

In [31]:
print("My first name is {first} and my last name is {last}".format(first=first_name, last=last_name))
print('\n After replacing the position of variable \n')
print("My first name is {first} and my last name is {last}".format(last=last_name,first=first_name))

My first name is Pankaj and my last name is Singh

 After replacing the position of variable

My first name is Pankaj and my last name is Singh

In [32]:
# we can f-formating also

In [34]:
print(f'My First Name is {first_name} and my last name is {last_name}')

My First Name is Pankaj and my last name is Singh