# Python Data Structures
- Dictionaries
- Tuples
- Sets

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [2]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={1,2,3,4,3}

In [4]:
type(set_var)

set

In [5]:
set_var

{1, 2, 3, 4}

In [6]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

In [7]:
## Inbuilt function in sets

set_var.add("Hulk")

In [8]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [9]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [10]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [11]:
print(set2)

{'Hitman', 'IronMan', 'Avengers', 'Hulk2'}

In [12]:
set2.intersection_update(set1)

In [13]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [14]:
set2.add("hulk2")
print(set2)

{'Hitman', 'hulk2', 'IronMan', 'Avengers'}

In [15]:
##Difference 
set2.difference(set1)

{'hulk2'}

In [16]:
## Difference update

set2.difference_update(set1)

In [17]:
print(set2)

{'hulk2'}

In [6]:
s = {1,2,3}
s.remove(2)

In [7]:
s

{1, 3}

In [18]:
dir(set2)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Dictionaries

A dictionary is a collection which is unordered and changeable. In Python dictionaries are written with curly brackets, and they have keys and values.

In [19]:
dic={}

In [20]:
type(dic)

dict

In [21]:
type(dict())

dict

In [22]:
set_ex={1,2,3,4,5}

In [23]:
type(set_ex)

set

In [24]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [25]:
type(my_dict)

dict

In [26]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [27]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [28]:
my_dict['key2']

[12, 23, 33]

In [29]:
my_dict['key2'][1]

23

In [30]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1']-120

In [31]:
my_dict['key1']

3

In [32]:
my_dict

{'key1': 3, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [33]:
my_dict['key1']-=3
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [34]:
new_dict = {}

In [35]:
new_dict["Pet"] = ['DOG']

In [36]:
new_dict["Animal"] = ["COW"]

In [37]:
new_dict

{'Pet': ['DOG'], 'Animal': ['COW']}

In [38]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

key1
key2
key3

In [39]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

0
[12, 23, 33]
['item0', 'item1', 'item2']

In [40]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('key1', 0)
('key2', [12, 23, 33])
('key3', ['item0', 'item1', 'item2'])

In [41]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [42]:
my_dict

{'key1': 0,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'car4': 'Audi 2.0'}

In [43]:
my_dict['Car1']='MAruti'

In [44]:
my_dict

{'key1': 0,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'car4': 'Audi 2.0',
 'Car1': 'MAruti'}

### Nested Dictionary

In [45]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [46]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [47]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [48]:
print(car_type['car1']['Mercedes'])

1960

In [63]:
dir(car_type)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

   ## Tuples
A tuple is a collection which is ordered and unchangeable.

In [49]:
## create an empty Tuples

my_tuple=tuple()

In [50]:
type(my_tuple)

tuple

In [51]:
my_tuple=()

In [52]:
type(my_tuple)

tuple

In [53]:
my_tuple=("Krish","Ankur","John")

In [54]:
my_tuple

('Krish', 'Ankur', 'John')

In [55]:
# we can't change a single value in Tuple it will give an error
# Whereas we can change the whole tuple
my_tuple=('Hello','World')

In [56]:
my_tuple

('Hello', 'World')

In [57]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [58]:
my_tuple=("Krish","Ankur","John")

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [59]:
## Inbuilt function
my_tuple.count('Krish')

1

In [60]:
my_tuple.index('Ankur')

1

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [61]:
my_tuple[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple.append('nope')

In [62]:
dir(my_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Files!