## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
bool()

False

In [4]:
print(False)

False

In [5]:
print(True)

True

In [6]:
print(True,False)

True False

In [7]:
type(True)

bool

In [15]:
my_str = "Pankaj09"

In [17]:
my_str.istitle()

False

In [13]:
print(my_str.isnumeric()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isalnum()) #check if it contains both alphabets and numbers
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words -> First letter Capital
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
True
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
True or True

True

In [21]:
True or False

True

In [22]:
str1= "ABC"
str2= "ABC124"

In [23]:
str1.isalpha() and str2.isalnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [24]:
type([])

list

In [25]:
my_list = []

In [26]:
type(my_list)

list

In [27]:
new_list = list()

In [28]:
type(new_list)

list

In [44]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [30]:
len(lst)

6

In [31]:
type(lst)

list

### Append

In [45]:
#.append is used to add elements in the list
lst.append("Pankaj")

In [46]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Pankaj']

In [49]:
lst.append(["Singh", "Ghugtyal"])

In [50]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Pankaj',
 'Singh',
 ['Singh', 'Ghugtyal']]

In [52]:
##Indexing in List -> starts from 0
lst[6]

'Pankaj'

In [56]:
## Get items using indexing
lst[:]

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Pankaj',
 'Singh',
 ['Singh', 'Ghugtyal']]

In [53]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [57]:
## insert in a specific order

lst.insert(2,"Parth")

In [58]:
lst

['Mathematics',
 'chemistry',
 'Parth',
 100,
 200,
 300,
 204,
 'Pankaj',
 'Singh',
 ['Singh', 'Ghugtyal']]

### Extend Method

In [59]:
lst=[1,2,3,4,5,6]

In [60]:
lst

[1, 2, 3, 4, 5, 6]

In [61]:
lst.extend([7,8])

In [62]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

### Various Operations that we can perform in List

In [63]:
lst=[1,2,3,4,5]

In [64]:
sum(lst)

15

In [65]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [66]:
## remove and print value from specific index, by default last index
lst.pop()

5

In [ ]:
lst.pop()