# Python Data Structures
- Dictionaries
- Tuples
- Sets

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={1,2,3,4,3}

In [4]:
type(set_var)

set

In [5]:
set_var

{1, 2, 3, 4}

In [6]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [7]:
## Inbuilt function in sets

set_var.add("Hulk")

In [8]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [16]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [17]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [18]:
print(set2)

{'Avengers', 'IronMan', 'Hulk2', 'Hitman'}

In [19]:
set2.intersection_update(set1)

In [20]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [24]:
set2.add("hulk2")
print(set2)

{'Avengers', 'IronMan', 'hulk2', 'Hitman'}

In [23]:
##Difference 
set2.difference(set1)

{'hulk2'}

In [25]:
## Difference update

set2.difference_update(set1)

In [26]:
print(set2)

{'hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [27]:
dic={}

In [28]:
type(dic)

dict

In [29]:
type(dict())

dict

In [30]:
set_ex={1,2,3,4,5}

In [31]:
type(set_ex)

set

In [32]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [33]:
type(my_dict)

dict

In [34]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [38]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [39]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [40]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [43]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [42]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [44]:
my_dict['Car1']='MAruti'

In [45]:
my_dict

{'Car1': 'MAruti',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Audi 2.0',
 'car4': 'Audi 2.0'}

### Nested Dictionary

In [46]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [47]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [48]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [49]:
print(car_type['car1']['Mercedes'])

1960

   ## Tuples
A tuple is a collection which is ordered and unchangeable.

In [50]:
## create an empty Tuples

my_tuple=tuple()

In [51]:
type(my_tuple)

tuple

In [52]:
my_tuple=()

In [53]:
type(my_tuple)

tuple

In [62]:
my_tuple=("Krish","Ankur","John")

In [55]:
my_tuple

('Krish', 'Ankur', 'John')

In [63]:
# we can't change a single value in Tuple it will give an error
# Whereas we can change the whole tuple
my_tuple=('Hello','World')

In [64]:
my_tuple

('Hello', 'World')

In [60]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [66]:
my_tuple=("Krish","Ankur","John")

In [67]:
## Inbuilt function
my_tuple.count('Krish')

1

In [68]:
my_tuple.index('Ankur')

1